<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Houseplantshop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<h1>Add a family</h1>
	<div>
		 <form th:object="${family}" th:action="@{savefamily}" action="#" method="post"> 
			 <label for="scientificName">Scientific name</label>
			 	<input type="text" id="scientificName" th:field="*{scientificName}" />
			 <br><br>
			 <label for="commonName">Common name</label>
			 	<input type="text" id="commonName" th:field="*{commonName}" />
			 <br><br>
			 <input type="submit" value="Save"></input>
		 </form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>