<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Houseplantshop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit plant</h1>
	<div>
		 <form th:object="${plant}" th:action="@{/save}" action="#" method="post"> 
		 
		 	 <label for="id"></label>
		 		<input type="hidden" id="id" th:field="*{id}" />
			 <label for="title">Scientific Name</label>
			 	<input type="text" id="scientificName" th:field="*{scientificName}" />
			 <br><br>
			 <label for="author">Common Name</label>
			 	<input type="text" id="commonName" th:field="*{commonName}" />
			 <br><br>

			 <label for="genus">Genus</label>
				 <select id="genuslist" th:field="*{genus}" class="form-control">
				 	<option th:each="genus : ${genera}" th:value="${genus.genusid}" th:text="${genus.scientificName}" />
				 </select>
			 <br><br>
			 <label for="family">Family</label>
				 <select id="familylist" th:field="*{family}" class="form-control">
				 	<option th:each="family : ${families}" th:value="${family.familyid}" th:text="${family.scientificName}" />
				 </select>
			 <div style="clear: both; display: block; height: 10px;"></div>
			 <input type="submit" value="Save"></input>
		 </form>
	</div>
</body>
</html>