<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Houseplantshop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Plants</h1>
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
	<table class="table table-striped">
		<tr>
			<th>Scientific Name</th>
			<th>Common Name</th>
			<th>Genus</th>
			<th>Family</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
			<th></th>
		</tr>
		<tr th:each = "plant : ${plants}">
			<td th:text="${plant.scientificName}"></td>
			<td th:text="${plant.commonName}"></td>
			<td th:text="${plant.genus} ? ${plant.genus.scientificName} : ''"></td>
			<td th:text="${plant.family} ? ${plant.family.scientificName} : ''"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${plant.id})}" class="btn btn-danger">Delete</a></td>
			<td><a class="btn btn-primary" th:href="@{/edit/{id}(id=${plant.id})}">Edit</a></td>
		</tr>
	</table>
	<a href="/add" class="btn btn-success">Add plant</a>
</body>
</html>