<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Houseplantshop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<h1>Plants</h1>
	<div class="background">
	  <div class="container">
	    <div class="panel pricing-table">     
	      <div class="pricing-plan" th:each = "plant : ${plants}">
	        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
	        <h2 class="pricing-header" th:text="${plant.scientificName}"></h2>
	        <ul class="pricing-features">
	          <li class="pricing-features-item" th:text="${plant.commonName}"></li>
	          <li class="pricing-features-item" th:text="${plant.genus} ? ${plant.genus.scientificName} : ''"></li>
	          <li class="pricing-features-item" th:text="${plant.family} ? ${plant.family.scientificName} : ''"></li>
	        </ul>
	        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${plant.id})}" class="btn pricing-button">Delete</a>
	        <a class="btn pricing-button" th:href="@{/edit/{id}(id=${plant.id})}">Edit</a>
	        <div>	
	        	<a href="/add" class="btn pricing-button">Add plant</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>